In [80]:
import numpy as np
import pandas as pd
import tokenize
import naming as naming
from crawling import getText, getOneText

pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', 100)

users = getText('http://114.71.103.80/new_db.php?q=select+*+from+users%0D%0Alimit+2%0D%0A%0D%0A', '1')
del users[0]
idx=[]
for i in range(1,79):
    idx.append(i)
df = pd.DataFrame(columns=users,index=idx)
for user in users:
    num_p = getText('http://114.71.103.80/new_db.php?q=select+*+from+code_submission+c%2C+%28select+id%2C+max%28regtime%29+a+from+code_submission+where+id+%3D'+user+'+group+by+p_no%29+d+where+c.id+%3D+d.id+and+d.a+%3D+c.regtime+',  '2')
    num_p = list(map(int, num_p))
    problems = getText('http://114.71.103.80/new_db.php?q=select+*+from+code_submission+c%2C+%28select+id%2C+max%28regtime%29+a+from+code_submission+where+id+%3D'+user+'+group+by+p_no%29+d+where+c.id+%3D+d.id+and+d.a+%3D+c.regtime+',  '4')
    print(len(num_p), len(problems))
    results=[]
    print(num_p)
    for problem in problems:
        with open('hello.py', 'wb+') as fw:
            fw.write(problem.encode('utf-8'))

        with open('hello.py', 'rb') as fr:
            tokens = tokenize.tokenize(fr.readline)
            try:
                results.append(naming.naming_variances(tokens))
            except:
                results.append(None)
    result_i = 0
    for i in range(1,79):
        if i in num_p:
            df.loc[i][user]=results[result_i]
            result_i += 1

54 54
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 43, 49, 50, 51, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 69, 70, 71, 72]

In [78]:
df

            201411023
1     [0, 0, 0, 1, 1]
2     [0, 0, 0, 1, 1]
3     [0, 0, 0, 4, 4]
4     [2, 0, 0, 5, 5]
5     [2, 0, 0, 8, 8]
6     [1, 0, 0, 7, 7]
7     [0, 0, 0, 6, 6]
8     [0, 0, 0, 6, 6]
9     [2, 0, 0, 7, 7]
10    [0, 0, 0, 5, 5]
11    [0, 0, 0, 6, 6]
12    [0, 0, 0, 4, 4]
13    [0, 0, 0, 8, 8]
14    [0, 0, 0, 4, 4]
15    [0, 0, 0, 5, 5]
16    [0, 0, 0, 8, 8]
17    [0, 0, 0, 5, 5]
18    [0, 0, 0, 5, 5]
19    [0, 0, 0, 4, 4]
20    [0, 0, 0, 5, 5]
21    [0, 0, 0, 6, 6]
22    [0, 0, 0, 6, 6]
23    [0, 0, 0, 7, 7]
24  [0, 0, 0, 10, 10]
25    [0, 0, 0, 6, 6]
26    [0, 0, 0, 7, 7]
27    [0, 0, 0, 5, 5]
28    [0, 0, 0, 9, 9]
29  [0, 0, 0, 12, 12]
30  [0, 0, 0, 16, 16]
31  [0, 0, 0, 10, 10]
32    [0, 0, 0, 6, 6]
33                NaN
34  [0, 0, 0, 10, 10]
35  [0, 0, 0, 12, 12]
36  [0, 0, 0, 13, 13]
37  [0, 0, 0, 12, 12]
38                NaN
39                NaN
40                NaN
41                NaN
42                NaN
43  [0, 0, 0, 10, 10]
44                NaN
45                NaN
46                NaN
47                NaN
48                NaN
49  [0, 0, 0, 18, 18]
50  [0, 0, 0, 25, 25]
51  [0, 1, 1, 21, 22]
52                NaN
53                NaN
54                NaN
55                NaN
56    [0, 1, 1, 7, 8]
57  [0, 1, 1, 11, 12]
58    [0, 1, 1, 7, 8]
59    [0, 1, 1, 6, 7]
60    [1, 1, 1, 7, 8]
61    [0, 0, 0, 4, 4]
62    [0, 1, 1, 5, 6]
63  [0, 1, 1, 12, 13]
64    [0, 1, 1, 7, 8]
65                NaN
66  [0, 0, 0, 10, 10]
67                NaN
68                NaN
69    [1, 0, 0, 6, 6]
70    [0, 1, 1, 2, 3]
71    [0, 1, 1, 4, 5]
72    [0, 1, 1, 8, 9]
73                NaN
74                NaN
75                NaN
76                NaN
77                NaN
78                NaN