In [6]:
import numpy as np
import pandas as pd
import tokenize
import naming as naming
from crawling import getText, getOneText

In [7]:


pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', 100)

users = getText('http://114.71.103.80/new_db.php?q=select+*+from+users%0D%0Alimit+3%0D%0A%0D%0A', '1')
idx=[]
for i in range(1,79):
    idx.append(i)
df = pd.DataFrame(columns=users,index=idx)
for user in users:
    num_p = getText('http://114.71.103.80/new_db.php?q=select+*+from+code_submission+c%2C+%28select+id%2C+max%28regtime%29+a+from+code_submission+where+id+%3D'+user+'+group+by+p_no%29+d+where+c.id+%3D+d.id+and+d.a+%3D+c.regtime+',  '2')
    num_p = list(map(int, num_p))
    problems = getText('http://114.71.103.80/new_db.php?q=select+*+from+code_submission+c%2C+%28select+id%2C+max%28regtime%29+a+from+code_submission+where+id+%3D'+user+'+group+by+p_no%29+d+where+c.id+%3D+d.id+and+d.a+%3D+c.regtime+',  '4')
    print(len(num_p), len(problems))
    results=[]
    print(num_p)
    for problem in problems:
        with open('hello.py', 'wb+') as fw:
            fw.write(problem.encode('utf-8'))

        with open('hello.py', 'rb') as fr:
            tokens = tokenize.tokenize(fr.readline)
            try:
                results.append(naming.naming_variances(tokens))
            except:
                results.append(None)
    result_i = 0
    for i in range(1,79):
        if i in num_p:
            df.loc[i][user]=results[result_i]
            result_i += 1

77 77
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78]
54 54
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 43, 49, 50, 51, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 69, 70, 71, 72]
77 77
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78]

In [8]:
df

             19900287          201411023          201411085
1     [0, 0, 0, 6, 6]    [0, 0, 0, 1, 1]    [0, 0, 0, 1, 1]
2   [0, 1, 1, 28, 29]    [0, 0, 0, 1, 1]    [0, 0, 0, 1, 1]
3     [0, 0, 0, 4, 4]    [0, 0, 0, 4, 4]    [0, 0, 0, 4, 4]
4     [0, 0, 0, 7, 7]    [2, 0, 0, 5, 5]    [0, 0, 0, 6, 6]
5     [3, 0, 0, 9, 9]    [2, 0, 0, 8, 8]  [4, 0, 0, 10, 10]
6     [2, 0, 0, 7, 7]    [1, 0, 0, 7, 7]    [3, 0, 0, 8, 8]
7     [0, 0, 0, 4, 4]    [0, 0, 0, 6, 6]    [0, 0, 0, 5, 5]
8     [0, 0, 0, 4, 4]    [0, 0, 0, 6, 6]    [0, 0, 0, 5, 5]
9     [0, 0, 0, 5, 5]    [2, 0, 0, 7, 7]    [0, 0, 0, 7, 7]
10    [0, 0, 0, 4, 4]    [0, 0, 0, 5, 5]    [0, 0, 0, 5, 5]
11    [0, 0, 0, 6, 6]    [0, 0, 0, 6, 6]    [2, 0, 0, 8, 8]
12    [0, 0, 0, 4, 4]    [0, 0, 0, 4, 4]    [0, 0, 0, 5, 5]
13    [0, 0, 0, 9, 9]    [0, 0, 0, 8, 8]    [2, 0, 0, 9, 9]
14    [0, 0, 0, 3, 3]    [0, 0, 0, 4, 4]    [1, 0, 0, 4, 4]
15    [0, 0, 0, 3, 3]    [0, 0, 0, 5, 5]    [0, 0, 0, 5, 5]
16    [0, 0, 0, 6, 6]    [0, 0, 0, 8, 8]  [0, 0, 0, 12, 12]
17    [0, 0, 0, 4, 4]    [0, 0, 0, 5, 5]  [3, 0, 0, 10, 10]
18    [0, 0, 0, 4, 4]    [0, 0, 0, 5, 5]    [0, 0, 0, 7, 7]
19    [0, 1, 1, 8, 9]    [0, 0, 0, 4, 4]    [0, 0, 0, 8, 8]
20    [0, 0, 0, 5, 5]    [0, 0, 0, 5, 5]    [0, 0, 0, 7, 7]
21    [0, 0, 0, 5, 5]    [0, 0, 0, 6, 6]  [0, 0, 0, 10, 10]
22    [0, 0, 0, 6, 6]    [0, 0, 0, 6, 6]    [0, 0, 0, 6, 6]
23    [0, 0, 0, 7, 7]    [0, 0, 0, 7, 7]    [0, 0, 0, 7, 7]
24  [0, 0, 0, 13, 13]  [0, 0, 0, 10, 10]  [0, 0, 0, 11, 11]
25    [0, 0, 0, 7, 7]    [0, 0, 0, 6, 6]    [0, 0, 0, 2, 2]
26    [0, 0, 0, 7, 7]    [0, 0, 0, 7, 7]    [0, 0, 0, 7, 7]
27    [0, 0, 0, 5, 5]    [0, 0, 0, 5, 5]    [0, 0, 0, 6, 6]
28    [0, 0, 0, 8, 8]    [0, 0, 0, 9, 9]    [0, 0, 0, 8, 8]
29    [0, 0, 0, 8, 8]  [0, 0, 0, 12, 12]    [0, 0, 0, 9, 9]
30  [0, 0, 0, 15, 15]  [0, 0, 0, 16, 16]  [0, 0, 0, 13, 13]
31  [0, 0, 0, 10, 10]  [0, 0, 0, 10, 10]    [0, 0, 0, 8, 8]
32    [0, 0, 0, 4, 4]    [0, 0, 0, 6, 6]    [0, 0, 0, 6, 6]
33  [0, 0, 0, 14, 14]                NaN                NaN
34  [0, 0, 0, 13, 13]  [0, 0, 0, 10, 10]    [0, 0, 0, 7, 7]
35  [0, 0, 0, 19, 19]  [0, 0, 0, 12, 12]  [0, 0, 0, 13, 13]
36  [0, 0, 0, 14, 14]  [0, 0, 0, 13, 13]    [0, 0, 0, 8, 8]
37  [0, 1, 1, 11, 12]  [0, 0, 0, 12, 12]  [0, 0, 0, 11, 11]
38  [0, 1, 1, 28, 29]                NaN  [0, 0, 0, 19, 19]
39    [0, 0, 0, 8, 8]                NaN    [0, 0, 0, 8, 8]
40  [0, 0, 0, 15, 15]                NaN  [0, 0, 0, 10, 10]
41  [0, 0, 0, 17, 17]                NaN  [0, 0, 0, 13, 13]
42    [0, 0, 0, 1, 1]                NaN    [0, 0, 0, 9, 9]
43  [0, 0, 0, 15, 15]  [0, 0, 0, 10, 10]  [0, 0, 0, 10, 10]
44  [0, 0, 0, 11, 11]                NaN  [0, 0, 0, 13, 13]
45  [0, 0, 0, 11, 11]                NaN  [0, 0, 0, 13, 13]
46  [0, 0, 0, 14, 14]                NaN  [0, 0, 0, 13, 13]
47    [0, 1, 1, 7, 8]                NaN    [0, 1, 1, 7, 8]
48    [0, 0, 0, 9, 9]                NaN    [0, 0, 0, 9, 9]
49  [0, 0, 0, 41, 41]  [0, 0, 0, 18, 18]  [0, 0, 0, 23, 23]
50  [0, 0, 0, 18, 18]  [0, 0, 0, 25, 25]  [0, 0, 0, 36, 36]
51  [0, 0, 0, 11, 11]  [0, 1, 1, 21, 22]  [1, 1, 1, 25, 26]
52  [0, 0, 0, 22, 22]                NaN  [0, 0, 0, 11, 11]
53  [0, 0, 0, 16, 16]                NaN    [0, 0, 0, 9, 9]
54  [1, 1, 1, 33, 34]                NaN  [3, 1, 1, 24, 25]
55  [0, 0, 0, 13, 13]                NaN    [0, 0, 0, 8, 8]
56    [0, 1, 1, 7, 8]    [0, 1, 1, 7, 8]    [0, 1, 1, 7, 8]
57  [0, 1, 1, 11, 12]  [0, 1, 1, 11, 12]  [0, 0, 0, 12, 12]
58    [0, 1, 1, 7, 8]    [0, 1, 1, 7, 8]   [0, 1, 1, 9, 10]
59    [0, 1, 1, 6, 7]    [0, 1, 1, 6, 7]    [0, 1, 1, 6, 7]
60    [1, 1, 1, 7, 8]    [1, 1, 1, 7, 8]   [1, 1, 1, 9, 10]
61    [0, 0, 0, 3, 3]    [0, 0, 0, 4, 4]    [0, 0, 0, 5, 5]
62    [0, 1, 1, 5, 6]    [0, 1, 1, 5, 6]    [0, 1, 1, 5, 6]
63  [0, 1, 1, 11, 12]  [0, 1, 1, 12, 13]  [0, 1, 1, 13, 14]
64  [4, 1, 1, 42, 43]    [0, 1, 1, 7, 8]  [4, 1, 1, 28, 29]
65   [0, 1, 1, 9, 10]                NaN    [0, 0, 0, 9, 9]
66  [0, 0, 0, 13, 13]  [0, 0, 0, 10, 10]  [0, 0, 0, 10, 10]
67  [0, 1, 1, 14, 15]                NaN  [0, 1, 1, 14, 15]
68  [0, 1, 1, 36, 37]                NaN  [1, 1, 1, 38, 39]
69    [0, 0, 0, 5, 5]    [1, 0, 0, 6, 6]    [1, 0, 0, 6, 6]
70    [0, 1, 1, 2, 3]    [0, 1, 1, 2, 3]    [0, 1, 1, 2, 3]
71    [0, 1, 1, 5, 6]    [0, 1, 1, 4, 5]    [0, 1, 1, 7, 8]
72    [0, 1, 1, 5, 6]    [0, 1, 1, 8, 9]    [0, 1, 1, 6, 7]
73    [0, 1, 1, 6, 7]                NaN    [0, 0, 0, 4, 4]
74  [0, 1, 1, 26, 27]                NaN  [0, 1, 1, 26, 27]
75                NaN                NaN  [0, 1, 1, 25, 26]
76  [0, 0, 0, 22, 22]                NaN  [0, 1, 1, 11, 12]
77               None                NaN               None
78  [0, 1, 1, 19, 20]                NaN  [0, 1, 1, 13, 14]

In [17]:
df = df.astype(object)
df.to_csv("feature_df.csv")

In [3]:
df_data = pd.read_csv("feature_df.csv")
df_data

NameError: name 'pd' is not defined